@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Poppins&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: block;
  width: 80%;
  gap: 10px;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.breadcrumb {
  margin-top: 20px;
  margin-left: (-40px);
  padding: 0;
}
